.block_tb_faq div#faq_box {
    width: calc(50% - 20px);
    float: left;
    background: white;
    padding: 15px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
}
.block_tb_faq div#faq_box:nth-child(2n + 1) {
    clear: left;
}
.block_tb_faq .faq_des {
    display: none;
    margin-top: 10px;
}
.block_tb_faq .faq_more {
    text-align: center;
    margin: 10px;
}
.block_tb_faq .faq_title {
    font-weight: bold;
    cursor: pointer;
}
.block_tb_faq .faq_more a {
    color: #fff !important;
    background-color: #0f6fc5;
    border-color: #0f6fc5;
    padding: .375rem .75rem;
    font-size: .9375rem;
    display: inline-block;
    font-weight: 400;
}
.block_tb_faq .tb_faq {
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .block_tb_faq div#faq_box {
        width: 100%;
        float: left;
        background: #fff;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid rgba(0, 0, 0, .125);
    }
}
